{% extends "base_generic.html" %}

{% block content %}

<!-- Login form -->
<section class="all_contact_info">
    <div class="container">
        <div class="row building_construction_row">

        </div>
        <div class="row contact_row">
            <div class="col-sm-6 contact_info send_message" style="padding-bottom: 40px;">
                <h2>Login</h2>

                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                      Your username and password didn't match. Please try again.
                    </div>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <div class="alert alert-primary" role="alert">
                            Your account doesn't have access to this page. To proceed, please login with an account that has access.
                        </div>
                    {% else %}
                        <div class="alert alert-secondary" role="alert">
                            Please login to see this page.
                        </div>
                    {% endif %}
                {% endif %}

                <form class="form-inline contact_box" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <input type="text" name="username" autofocus="" maxlength="254" class="form-control input_box" placeholder="Usuário" required="" id="id_username">
                    <input type="password" name="password" class="form-control input_box" placeholder="Senha" required="" id="id_password">
                    <button type="submit" value="login" name="login">
                        Entrar <i class="fa fa-chevron-right"></i>
                    </button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
                <p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>
            </div>
            <div class="col-sm-6 contact_info">
                <h2>Área Restrita</h2>
                <p>Ainda não tem uma conta?<br><a href="{% url 'coming-soon' %}"><i class="fa fa-user"></i> Cadastrar.</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End Login form -->

{% endblock %}